/*targets*/
span.greeting {
  animation-name: greet, pop;
  animation-delay: 0s, .4s;
  animation-fill-mode: forwards;
  animation-duration: 200ms, 1.5s;
  animation-iteration-count: 1;
  position: relative;
}

span.who {
  font-size: initial;
  animation-name: world, toggleOpacity;
  animation-fill-mode: forwards;
  animation-duration: 200ms, 1.9s;
  animation-iteration-count: 1;
  position: relative;
}

/*animations*/
@keyframes greet {
  0% {
    left: -200px
  }
  100% {
    left: 0
  }
}

@keyframes pop {
  100% {
    font-size: 30px;
  }
}

@keyframes world {
  0% {
    right: -200px
  }
  100% {
    right: 0;
    font-size: 30px;
  }
}


@keyframes toggleOpacity {
  0% {
    color: rgba(194, 110, 74, .1);
  }
  10% {
    color: rgba(194, 110, 74, 0.2);
  }
  15% {
    color: rgba(194, 110, 74, 0.3);
  }
  20% {
    color: rgba(194, 110, 74, 0.4);
  }
  25% {
    color: rgba(194, 110, 74, 0.5);
  }
  35% {
    color: rgba(194, 110, 74, 0.6);
  }
  50% {
    color: rgba(194, 110, 74, 0.7);
  }
  60% {
    color: rgba(194, 110, 74, 0.8);
  }
  70% {
    color: rgba(194, 110, 74, 0.9);
  }
  80% {
    color: rgba(194, 110, 74, 1);
  }
  100% {
    color: #C26E4A;
  }
}


