/* targets */
#output {
  font-size: 30px;
  color: #C26E4A;
}

.anim-cursor {
  font-size: 25px;
  color: #0B2E4B;
  padding: 0 2px;
  position: relative;
  animation: blinkTextCursor 1.1s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* Animation */
@keyframes blinkTextCursor {
  0% {
    color: #0B2E4B;
  }
  49% {
    color: #0B2E4B;
  }
  51% {
    color: transparent;
  }
  100% {
    color: transparent;
  }
}
